* {
    padding: 1px;
    border: 1px solid black;
}

#menu button {
    display: block;
}

#credits span {
    display: block;
}

.tick {
    color: #0f0;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.cross {
    color: #f00;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.pointer {
    cursor: pointer
}

.hidden {
    display: none;
    visibility: hidden;
}